<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img class="icon" src="assets/icon/log-in.svg" alt="">
  <ion-item>
    <ion-label position="floating" aria-required="email">Nombre</ion-label>
    <ion-input type="text" name="email" [(ngModel)]="name"></ion-input>
  </ion-item>
<ion-item>
  <ion-label position="floating" aria-required="email">Email</ion-label>
  <ion-input type="text" name="email" [(ngModel)]="email"></ion-input>
</ion-item>
<ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating">Repetir contraseña</ion-label>
  <ion-input type="password" name="password"></ion-input>
</ion-item>
  <br>
  <ion-button expand="block" color="secondary" (click)="onSubmitRegister()">Registrarse</ion-button>
  <br>
  <p text-center routerLink="/login">Ya tengo cuenta</p>
  




</ion-content>

